/* Custom */
.waitress-overlay{
  text-align: center;
  z-index:999;
}

.waitress-overlay-content{
  text-align: center;
  position: absolute;
  right: 50%;
  margin-right: -35px;
  top: 50%;
  margin-top: -20px;
}

.waitress-notification{
  max-width: 100%;
  padding: 10px;
  border-radius: 3px;
}

.notifications{
  box-shadow:
    0 3.1px 2px rgba(0, 0, 0, 0.02),
    0 6.9px 4.7px rgba(0, 0, 0, 0.028),
    0 12.8px 8.9px rgba(0, 0, 0, 0.035),
    0 23.1px 15.9px rgba(0, 0, 0, 0.042),
    0 43.2px 29.7px rgba(0, 0, 0, 0.05),
    0 100px 71px rgba(0, 0, 0, 0.07);
}

@media (max-width: 500px) { 
  .waitress-notification {
    width: 94%;
    left: 0 !important;
    right: 0 !important;
    margin-left: 3%;
    margin-right: 3%;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}