[class*="loaderz-"] {
  display: inline-block;
  width: 2em;
  height: 2em;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
}
.loaderz-01 {
  border: 0.2em dotted currentcolor;
  border-radius: 50%;
  animation: 1s loaderz-01 linear infinite;
}
@keyframes loaderz-01 {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
.loaderz-02 {
  border: 0.2em solid transparent;
  border-left-color: currentcolor;
  border-right-color: currentcolor;
  border-radius: 50%;
  animation: 1s loaderz-02 linear infinite;
}
@keyframes loaderz-02 {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
.loaderz-03 {
  border: 0.2em solid currentcolor;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 1s loaderz-03 linear infinite;
  position: relative;
}
@keyframes loaderz-03 {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
.loaderz-04 {
  border: 1px solid currentcolor;
  border-radius: 50%;
  animation: 1s loaderz-04 linear infinite;
  position: relative;
}
.loaderz-04:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -0.2em;
  left: 50%;
  border: 0.2em solid currentcolor;
  border-radius: 50%;
}
@keyframes loaderz-04 {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
.loaderz-05 {
  border: 0.2em solid transparent;
  border-top-color: currentcolor;
  border-radius: 50%;
  animation: 1s loaderz-05 linear infinite;
  position: relative;
}
.loaderz-05:before {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  top: -0.2em;
  left: -0.2em;
  border: 0.2em solid currentcolor;
  border-radius: 50%;
  opacity: 0.5;
}
@keyframes loaderz-05 {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
.loaderz-06 {
  border: 0.2em solid currentcolor;
  border-radius: 50%;
  animation: loaderz-06 1s ease-out infinite;
}
@keyframes loaderz-06 {
  0% {
    transform: scale(0);
    opacity: 0;
 }
  50% {
    opacity: 1;
 }
  100% {
    transform: scale(1);
    opacity: 0;
 }
}
.loaderz-07 {
  border: 0 solid transparent;
  border-radius: 50%;
  position: relative;
}
.loaderz-07:before, .loaderz-07:after {
  content: '';
  border: 0.2em solid currentcolor;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loaderz-07 1s linear infinite;
  opacity: 0;
}
.loaderz-07:before {
  animation-delay: 1s;
}
.loaderz-07:after {
  animation-delay: 0.5s;
}
@keyframes loaderz-07 {
  0% {
    transform: scale(0);
    opacity: 0;
 }
  50% {
    opacity: 1;
 }
  100% {
    transform: scale(1);
    opacity: 0;
 }
}
.loaderz-08 {
  position: relative;
}
.loaderz-08:before, .loaderz-08:after {
  content: '';
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background-color: currentcolor;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: loaderz-08 2s infinite ease-in-out;
}
.loaderz-08:after {
  animation-delay: -1s;
}
@keyframes loaderz-08 {
  0%, 100% {
    transform: scale(0);
 }
  50% {
    transform: scale(1);
 }
}
.loaderz-09 {
  background-color: currentcolor;
  border-radius: 50%;
  animation: loaderz-09 1s infinite ease-in-out;
}
@keyframes loaderz-09 {
  0% {
    transform: scale(0);
 }
  100% {
    transform: scale(1);
    opacity: 0;
 }
}
.loaderz-10 {
  position: relative;
  animation: loaderz-10-1 2s infinite linear;
}
.loaderz-10:before, .loaderz-10:after {
  content: '';
  width: 0;
  height: 0;
  border: 0.5em solid currentcolor;
  display: block;
  position: absolute;
  border-radius: 100%;
  animation: loaderz-10-2 2s infinite ease-in-out;
}
.loaderz-10:before {
  top: 0;
  left: 50%;
}
.loaderz-10:after {
  bottom: 0;
  right: 50%;
  animation-delay: -1s;
}
@keyframes loaderz-10-1 {
  100% {
    transform: rotate(360deg);
 }
}
@keyframes loaderz-10-2 {
  0%, 100% {
    transform: scale(0);
 }
  50% {
    transform: scale(1);
 }
}
.loaderz-11 {
  background-color: currentcolor;
  animation: loaderz-11 1.2s infinite ease-in-out;
}
@keyframes loaderz-11 {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
 }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
 }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
 }
}
.loaderz-12 {
  position: relative;
}
.loaderz-12:before, .loaderz-12:after {
  content: '';
  display: block;
  position: absolute;
  background-color: currentcolor;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 50%;
  box-shadow: -0.5em 0 0 currentcolor;
  animation: loaderz-12 1s linear infinite;
}
.loaderz-12:after {
  top: 50%;
  bottom: 0;
  animation-delay: 0.25s;
}
@keyframes loaderz-12 {
  0%, 100% {
    box-shadow: -0.5em 0 0 transparent;
    background-color: currentcolor;
 }
  50% {
    box-shadow: -0.5em 0 0 currentcolor;
    background-color: transparent;
 }
}
.loaderz-13:before, .loaderz-13:after, .loaderz-13 {
  border-radius: 50%;
  animation-fill-mode: both;
  animation: loaderz-13 1.8s infinite ease-in-out;
}
.loaderz-13 {
  color: currentcolor;
  position: relative;
  transform: translateZ(0);
  animation-delay: -0.16s;
  top: -1em;
}
.loaderz-13:before {
  right: 100%;
  animation-delay: -0.32s;
}
.loaderz-13:after {
  left: 100%;
}
.loaderz-13:before, .loaderz-13:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
}
@keyframes loaderz-13 {
  0%, 80%, 100% {
    box-shadow: 0 1em 0 -1em;
 }
  40% {
    box-shadow: 0 1em 0 -0.2em;
 }
}
.loaderz-14 {
  border-radius: 50%;
  box-shadow: 0 1em 0 -0.2em currentcolor;
  position: relative;
  animation: loaderz-14 0.8s ease-in-out alternate infinite;
  animation-delay: 0.32s;
  top: -1em;
}
.loaderz-14:after, .loaderz-14:before {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  box-shadow: inherit;
  animation: inherit;
}
.loaderz-14:before {
  left: -1em;
  animation-delay: 0.48s;
}
.loaderz-14:after {
  right: -1em;
  animation-delay: 0.16s;
}
@keyframes loaderz-14 {
  0% {
    box-shadow: 0 2em 0 -0.2em currentcolor;
 }
  100% {
    box-shadow: 0 1em 0 -0.2em currentcolor;
 }
}
.loaderz-15 {
  background: currentcolor;
  position: relative;
  animation: loaderz-15 1s ease-in-out infinite;
  animation-delay: 0.4s;
  width: 0.25em;
  height: 0.5em;
  margin: 0 0.5em;
}
.loaderz-15:after, .loaderz-15:before {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background: inherit;
  animation: inherit;
}
.loaderz-15:before {
  right: 0.5em;
  animation-delay: 0.2s;
}
.loaderz-15:after {
  left: 0.5em;
  animation-delay: 0.6s;
}
@keyframes loaderz-15 {
  0%, 100% {
    box-shadow: 0 0 0 currentcolor, 0 0 0 currentcolor;
 }
  50% {
    box-shadow: 0 -0.25em 0 currentcolor, 0 0.25em 0 currentcolor;
 }
}
.loaderz-16 {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
}
.loaderz-16:before, .loaderz-16:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  animation: 1s spin linear infinite;
}
.loaderz-16:before {
  transform: rotateX(70deg);
}
.loaderz-16:after {
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
 }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
 }
}
@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
 }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
 }
}
@keyframes spin {
  0%, 100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
 }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
 }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
 }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
 }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
 }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
 }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
 }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
 }
}
.loaderz-17 {
  position: relative;
  background-color: currentcolor;
  border-radius: 50%;
}
.loaderz-17:after, .loaderz-17:before {
  content: "";
  position: absolute;
  width: 0.25em;
  height: 0.25em;
  border-radius: 50%;
  opacity: 0.8;
}
.loaderz-17:after {
  left: -0.5em;
  top: -0.25em;
  background-color: currentcolor;
  transform-origin: 0.75em 1em;
  animation: loaderz-17 1s linear infinite;
  opacity: 0.6;
}
.loaderz-17:before {
  left: -1.25em;
  top: -0.75em;
  background-color: currentcolor;
  transform-origin: 1.5em 1em;
  animation: loaderz-17 2s linear infinite;
}
@keyframes loaderz-17 {
  0% {
    transform: rotateZ(0deg) translate3d(0, 0, 0);
 }
  100% {
    transform: rotateZ(360deg) translate3d(0, 0, 0);
 }
}
.loaderz-18 {
  position: relative;
}
.loaderz-18:before, .loaderz-18:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 0.1em solid transparent;
  border-bottom-color: currentcolor;
  top: 0;
  left: 0;
  animation: 1s loaderz-18 linear infinite;
}
.loaderz-18:before {
  width: 1em;
  height: 1em;
}
.loaderz-18:after {
  width: 0.8em;
  height: 0.8em;
  top: 0.1em;
  left: 0.1em;
  animation-direction: reverse;
}
@keyframes loaderz-18 {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
.loaderz-19 {
  border-top: 0.2em solid currentcolor;
  border-right: 0.2em solid transparent;
  animation: loaderz-19 1s linear infinite;
  border-radius: 100%;
  position: relative;
}
@keyframes loaderz-19 {
  to {
    transform: rotate(360deg);
 }
}
.loaderz-20 {
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 0.1em currentcolor;
  border-radius: 50%;
  position: relative;
}
.loaderz-20:after, .loaderz-20:before {
  position: absolute;
  content: "";
  background-color: currentcolor;
  top: 0.5em;
  left: 0.5em;
  height: 0.1em;
  transform-origin: left center;
}
.loaderz-20:after {
  width: 0.4em;
  animation: loaderz-20 2s linear infinite;
}
.loaderz-20:before {
  width: 0.3em;
  animation: loaderz-20 8s linear infinite;
}
@keyframes loaderz-20 {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
.loaderz-21 {
  position: relative;
}
.loaderz-21:before, .loaderz-21:after {
  position: absolute;
  content: "";
}
.loaderz-21:before {
  width: 80%;
  height: 80%;
  left: 10%;
  bottom: 10%;
  border-radius: 100% 100% 100% 0;
  box-shadow: 0px 0px 0px 0.1em currentcolor;
  animation: loaderz-21 1s linear infinite;
  transform: rotate(-46deg);
}
.loaderz-21:after {
  width: 1em;
  height: 0.3em;
  border-radius: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: -0.2em;
  z-index: -1;
}
@keyframes loaderz-21 {
  0% {
    top: 0;
 }
  50% {
    top: -5px;
 }
  100% {
    top: 0;
 }
}
.loaderz-22 {
  border: 0.1em currentcolor solid;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.loaderz-22:after, .loaderz-22:before {
  position: absolute;
  content: "";
  background-color: currentcolor;
}
.loaderz-22:after {
  width: 50%;
  height: 0.1em;
  left: 50%;
  top: 50%;
  transform-origin: left center;
  animation: loaderz-22 2s linear infinite alternate;
}
.loaderz-22:before {
  width: 100%;
  height: 40%;
  left: 0;
  bottom: 0;
}
@keyframes loaderz-22 {
  0% {
    transform: rotate(-160deg);
 }
  100% {
    transform: rotate(-20deg);
 }
}
.loaderz-23 {
  height: 0.5em;
  border: 0.1em currentcolor solid;
  border-radius: 0.1em;
  position: relative;
  animation: loaderz-23 5s linear infinite;
}
.loaderz-23:after {
  width: 0.07em;
  height: 100%;
  background-color: currentcolor;
  border-radius: 0px 0.5em 0.5em 0px;
  position: absolute;
  content: "";
  top: 0;
  left: calc(100% + .1em);
}
@keyframes loaderz-23 {
  0% {
    box-shadow: inset 0px 0px 0px currentcolor;
 }
  100% {
    box-shadow: inset 1em 0px 0px currentcolor;
 }
}
.loaderz-24 {
  width: 0.8em;
  height: 1em;
  border: 0.1em currentcolor solid;
  border-radius: 0px 0px 0.2em 0.2em;
  position: relative;
}
.loaderz-24:after, .loaderz-24:before {
  position: absolute;
  content: "";
}
.loaderz-24:after {
  width: 0.2em;
  height: 50%;
  border: 0.1em currentcolor solid;
  border-left: none;
  border-radius: 0px 0.5em 0.5em 0px;
  left: calc(100% + .1em);
  top: 0.1em;
}
.loaderz-24:before {
  width: 0.1em;
  height: 0.3em;
  background-color: currentcolor;
  top: -0.3em;
  left: 0.05em;
  box-shadow: 0.2em 0px 0px 0px currentcolor, 0.2em -0.2em 0px 0px currentcolor, 0.4em 0px 0px 0px currentcolor;
  animation: loaderz-24 1s linear infinite alternate;
}
@keyframes loaderz-24 {
  0% {
    height: 0px;
 }
  100% {
    height: 6px;
 }
}
.loaderz-25 {
  border: 0.1em currentcolor solid;
  position: relative;
  animation: loaderz-25-1 5s linear infinite;
}
.loaderz-25:after {
  width: 0.2em;
  height: 0.2em;
  position: absolute;
  content: "";
  background-color: currentcolor;
  bottom: calc(100% + .2em);
  left: -0.4em;
  animation: loaderz-25-2 1s ease-in-out infinite;
}
@keyframes loaderz-25-1 {
  0% {
    box-shadow: inset 0 0 0 0 currentcolor;
 }
  100% {
    box-shadow: inset 0 -1em 0 0 currentcolor;
 }
}
@keyframes loaderz-25-2 {
  25% {
    left: calc(100% + .2em);
    bottom: calc(100% + .2em);
 }
  50% {
    left: calc(100% + .2em);
    bottom: -0.4em;
 }
  75% {
    left: -0.4em;
    bottom: -0.4em;
 }
  100% {
    left: -0.4em;
    bottom: calc(100% + .2em);
 }
}
.loaderz-26 {
  width: 0.5em;
  height: 0.5em;
  background-color: currentcolor;
  box-shadow: 1em 0px 0px currentcolor;
  border-radius: 50%;
  animation: loaderz-26 1s ease-in-out infinite alternate;
}
@keyframes loaderz-26 {
  0% {
    opacity: 0.1;
    transform: rotate(0deg) scale(0.5);
 }
  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1.2);
 }
}
.loaderz-27 {
  box-shadow: inset 0 0 0 0.1em currentcolor;
  border-radius: 50%;
  position: relative;
  margin-left: 1.2em;
}
.loaderz-27:before {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  position: absolute;
  right: 1.2em;
  top: 0;
  box-shadow: inset 0 0 0 0.1em currentcolor;
}
.loaderz-27:after {
  border: 0.2em solid currentcolor;
  box-shadow: -1.2em 0 0 0 currentcolor;
  width: 0;
  height: 0;
  border-radius: 50%;
  left: 50%;
  top: 25%;
  position: absolute;
  content: "";
  animation: loaderz-27 2s linear infinite alternate;
}
@keyframes loaderz-27 {
  0% {
    left: 0;
 }
  100% {
    left: 0.5em;
 }
}
.loaderz-28 {
  position: relative;
  animation: 2s loaderz-28-1 infinite;
}
.loaderz-28:before {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  border-radius: 80% 20%;
  border: 0.1em solid currentcolor;
  transform: rotate(45deg);
  border-width: 0.1em 0.05em 0.05em 0.1em;
}
.loaderz-28:after {
  content: '';
  display: block;
  width: 0.2em;
  height: 0.2em;
  position: absolute;
  top: 0.4em;
  left: 50%;
  border-radius: 50%;
  box-shadow: -0.07em 0.07em 0 0.1em currentcolor;
  animation: 2s loaderz-28-2 linear infinite;
}
@keyframes loaderz-28-1 {
  0%, 100% {
    transform: scaleY(1);
 }
  10% {
    transform: scaleY(0);
 }
  20% {
    transform: scaleY(1);
 }
}
@keyframes loaderz-28-2 {
  0%, 100% {
    transform: translateX(0);
 }
  30% {
    transform: translateX(-100%);
 }
  50% {
    transform: transalteX(200%);
 }
}
.loaderz-29 {
  border-radius: 50%;
  box-shadow: inset 0 0 0 0.1em currentcolor, -0.5em -0.5em 0 -0.4em currentcolor, 0 -0.7em 0 -0.4em currentcolor, 0.5em -0.5em 0 -0.4em currentcolor, -0.5em 0.5em 0 -0.4em currentcolor, 0 0.7em 0 -0.4em currentcolor, 0.5em 0.5em 0 -0.4em currentcolor, -0.7em 0 0 -0.4em currentcolor, 0.7em 0 0 -0.4em currentcolor;
  animation: 5s loaderz-29 linear infinite;
}
@keyframes loaderz-29 {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
.loaderz-30 {
  border: 0.2em solid transparent;
  border-top-color: currentcolor;
  border-bottom-color: currentcolor;
  border-radius: 50%;
  position: relative;
  animation: 1s loaderz-30 linear infinite;
}
.loaderz-30:before, .loaderz-30:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border: 0.2em solid transparent;
  border-bottom-color: currentcolor;
}
.loaderz-30:before {
  transform: rotate(135deg);
  right: -0.3em;
  top: -0.05em;
}
.loaderz-30:after {
  transform: rotate(-45deg);
  left: -0.3em;
  bottom: -0.05em;
}
@keyframes loaderz-30 {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
.loaderz-31 {
  box-shadow: 0 0 2em currentcolor;
  background-color: currentcolor;
  position: relative;
  border-radius: 50%;
  transform: rotateX(-60deg) perspective(1000px);
}
.loaderz-31:before, .loaderz-31:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  animation: 1s loaderz-31 ease-out infinite;
}
.loaderz-31:after {
  animation-delay: 0.4s;
}
@keyframes loaderz-31 {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    box-shadow: 0 0 0 -0.5em currentcolor, 0 0 0 -0.5em currentcolor, 0 0 0 -0.5em currentcolor, 0 0 0 -0.5em currentcolor, 0 0 0 -0.5em currentcolor, 0 0 0 -0.5em currentcolor, 0 0 0 -0.5em currentcolor, 0 0 0 -0.5em currentcolor;
 }
  100% {
    opacity: 0;
    transform: rotate(180deg);
    box-shadow: -1em -1em 0 -0.35em currentcolor, 0 -1.5em 0 -0.35em currentcolor, 1em -1em 0 -0.35em currentcolor, -1.5em 0 0 -0.35em currentcolor, 1.5em 0 0 -0.35em currentcolor, -1em 1em 0 -0.35em currentcolor, 0 1.5em 0 -0.35em currentcolor, 1em 1em 0 -0.35em currentcolor;
 }
}
.loaderz-32 {
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 1em 0 currentcolor, inset 0 0 1em 0 currentcolor;
  animation: 1s loaderz-32 linear infinite;
}
.loaderz-32:before, .loaderz-32:after {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  border-radius: 50%;
}
.loaderz-32:before {
  border-top: 0.2em solid currentcolor;
  border-right: 0.2em solid transparent;
  top: 0.28em;
  right: calc(50% - .22em);
}
.loaderz-32:after {
  border-bottom: 0.2em solid currentcolor;
  border-left: 0.2em solid transparent;
  bottom: 0.28em;
  left: calc(50% - .22em);
}
@keyframes loaderz-32 {
  0% {
    transform: rotateX(-60deg) rotateZ(0deg);
 }
  100% {
    transform: rotateX(-60deg) rotateZ(360deg);
 }
}
.loaderz-33 {
  border-radius: 50%;
  position: relative;
}
.loaderz-33:after, .loaderz-33:before {
  position: absolute;
  content: "";
}
.loaderz-33:after {
  height: 0.1em;
  width: 1em;
  background-color: currentcolor;
  border-radius: 0.1em;
  bottom: 0;
  left: 0;
  transform-origin: bottom center;
  animation: loaderz-33-1 0.8s ease-in-out infinite alternate;
}
.loaderz-33:before {
  height: 0.2em;
  width: 0.2em;
  background-color: currentcolor;
  border-radius: 50%;
  top: 0;
  left: calc(50% - .1em);
  animation: loaderz-33-2 0.4s ease-in-out infinite alternate;
}
@keyframes loaderz-33-2 {
  0% {
    height: 0.24em;
    transform: translateY(0px);
 }
  75% {
    height: 0.2em;
    width: 0.2em;
 }
  100% {
    height: 0.1em;
    width: 0.24em;
    transform: translateY(0.8em);
 }
}
@keyframes loaderz-33-1 {
  0% {
    transform: rotate(-45deg);
 }
  100% {
    transform: rotate(45deg);
 }
}
.loaderz-34 {
  position: relative;
  width: 1em;
  height: 0.5em;
}
.loaderz-34:after, .loaderz-34:before {
  position: absolute;
  content: "";
  height: 0.4em;
  width: 0.4em;
  top: 0;
  background-color: currentcolor;
  border-radius: 50%;
}
.loaderz-34:after {
  right: 0;
  animation: loaderz-34-2 0.5s ease-in-out infinite;
  animation-direction: alternate;
}
.loaderz-34:before {
  left: 0;
  animation: loaderz-34-1 0.5s ease-in-out infinite;
  animation-direction: alternate;
}
@keyframes loaderz-34-1 {
  0% {
    transform: translatex(0px);
 }
  65% {
    height: 0.4em;
    width: 0.4em;
 }
  100% {
    height: 0.5em;
    width: 0.3em;
    transform: translatex(0.2em);
 }
}
@keyframes loaderz-34-2 {
  0% {
    transform: translatex(0px);
 }
  65% {
    height: 0.4em;
    width: 0.4em;
 }
  100% {
    height: 0.5em;
    width: 0.3em;
    transform: translatex(-0.2em);
 }
}
.loaderz-35 {
  margin: 0 0.5em;
  position: relative;
}
.loaderz-35:before {
  border-radius: 50%;
  background-color: currentcolor;
  animation: loaderz-35 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  content: '';
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  position: absolute;
}
@keyframes loaderz-35 {
  0% {
    transform: translateX(0) scale(1);
 }
  25% {
    transform: translateX(-100%) scale(0.3);
 }
  50% {
    transform: translateX(0) scale(1);
 }
  75% {
    transform: translateX(100%) scale(0.3);
 }
  100% {
    transform: translateX(0) scale(1);
 }
}
.loaderz-36 {
  position: relative;
}
.loaderz-36:before, .loaderz-36:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}
.loaderz-36:before {
  width: 1em;
  height: 1em;
  border: 0.1em solid currentcolor;
  border-radius: 50%;
  animation: loaderz-36-1 1.15s infinite -0.3s;
}
.loaderz-36:after {
  right: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 0.1em solid currentcolor;
  border-radius: 50%;
  transform: translate(-0.2em);
  animation: loaderz-36-2 4.6s infinite steps(1);
}
@keyframes loaderz-36-1 {
  to {
    transform: rotateX(180deg);
 }
}
@keyframes loaderz-36-2 {
  0% {
    opacity: 0;
 }
  25% {
    opacity: 1;
 }
  50% {
    box-shadow: 0.2em 0 0 currentcolor;
 }
  75% {
    box-shadow: 0.2em 0 0 currentcolor, 0.4em 0 0 currentcolor;
 }
}
.loaderz-37 {
  border-right: 0.1em solid currentcolor;
  border-radius: 100%;
  animation: loaderz-37 800ms linear infinite;
}
.loaderz-37:before, .loaderz-37:after {
  content: '';
  width: 0.8em;
  height: 0.8em;
  display: block;
  position: absolute;
  top: calc(50% - .4em);
  left: calc(50% - .4em);
  border-left: 0.08em solid currentcolor;
  border-radius: 100%;
  animation: loaderz-37 400ms linear infinite reverse;
}
.loaderz-37:after {
  width: 0.6em;
  height: 0.6em;
  top: calc(50% - .3em);
  left: calc(50% - .3em);
  border: 0;
  border-right: 0.05em solid currentcolor;
  animation: none;
}
@keyframes loaderz-37 {
  from {
    transform: rotate(360deg);
 }
  to {
    transform: rotate(0deg);
 }
}
.loaderz-38 {
  height: 0.1em;
  width: 0.1em;
  box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor;
  animation: loaderz-38 6s infinite;
}
@keyframes loaderz-38 {
  0% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor;
 }
  8.33% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor;
 }
  16.66% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor;
 }
  24.99% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
 }
  33.32% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor;
 }
  41.65% {
    box-shadow: 0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor;
 }
  49.98% {
    box-shadow: 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor;
 }
  58.31% {
    box-shadow: -0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
 }
  66.64% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
 }
  74.97% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
 }
  83.3% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
 }
  91.63% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
 }
  100% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor;
 }
}
.loaderz-39 {
  position: relative;
  width: 0.15em;
  height: 0.15em;
  background-color: currentcolor;
  border-radius: 100%;
  animation: loaderz-39-1 30s infinite linear;
}
.loaderz-39:before, .loaderz-39:after {
  content: '';
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loaderz-39:before {
  width: 0.3em;
  height: 1em;
  animation: loaderz-39-2 0.8s linear infinite;
}
.loaderz-39:after {
  width: 1em;
  height: 0.3em;
  animation: loaderz-39-2 1.2s linear infinite;
}
@keyframes loaderz-39-1 {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
@keyframes loaderz-39-2 {
  0% {
    box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
 }
  25% {
    box-shadow: 0.04em 0.04em 0 0.02em currentcolor;
 }
  50% {
    box-shadow: -0.04em 0.04em 0 0.02em currentcolor;
 }
  75% {
    box-shadow: -0.04em -0.04em 0 0.02em currentcolor;
 }
  100% {
    box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
 }
}
.loaderz-40 {
  border: 0.05em currentcolor solid;
  border-radius: 0.2em;
  overflow: hidden;
  position: relative;
}
.loaderz-40:after, .loaderz-40:before {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: inherit;
  height: inherit;
  animation: loaderz-40 2s infinite linear;
}
.loaderz-40:before {
  border-top: 0.2em currentcolor solid;
  top: -0.15em;
  left: calc(-50% - .15em);
  transform-origin: right center;
}
.loaderz-40:after {
  border-bottom: 0.2em currentcolor solid;
  top: 0.15em;
  right: calc(-50% - .15em);
  transform-origin: left center;
}
@keyframes loaderz-40 {
  from {
    transform: rotate(0deg);
 }
  to {
    transform: rotate(359deg);
 }
}
.loaderz-41 {
  border: 0.05em currentcolor solid;
  border-radius: 0.2em;
  position: relative;
  background: linear-gradient(45deg, transparent 48%, currentcolor 50%, currentcolor 50%, transparent 52%, transparent), linear-gradient(-45deg, transparent 48%, currentcolor 50%, currentcolor 50%, transparent 52%, transparent);
  background-size: 0.5em 0.5em;
  background-position: 0% 0%;
  animation: loaderz-41 1s infinite linear;
}
@keyframes loaderz-41 {
  from {
    background-position: 0 0;
 }
  to {
    background-position: -1em 0;
 }
}
.loaderz-42 {
  width: 2em;
  height: 0.66em;
  border: 0.05em currentcolor solid;
  border-radius: 0.1em;
  background: linear-gradient(-60deg, transparent 0%, transparent 50%, currentcolor 50%, currentcolor 75%, transparent 75%, transparent);
  background-size: 1em 2em;
  background-position: 0 0;
  animation: loaderz-42 0.8s infinite linear;
}
@keyframes loaderz-42 {
  from {
    background-position: 0 0;
 }
  to {
    background-position: -2em 0;
 }
}