.staticParent{
  position: static;
}

.waiter-overlay-content{
  margin: auto;
}

.waiter-overlay {
  opacity: 1;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
  text-align: center;
  color: white;
  display: flex;
  z-index: 99999;
}
