/* Custom */
.waiter-overlay{
  text-align: center;
  z-index:999;
  color: white;
  display: flex;
}

.staticParent{
  position: static;
}

.waiter-overlay-content{
  margin: auto;
}

.waiter-overlay {
  opacity: 1;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}