.p-w-15 {
  display: block;
  width: 15%;
}

.p-w-30 {
  display: block;
  width: 30%;
}

.p-w-45 {
  display: block;
  width: 45%;
}

.p-w-60 {
  display: block;
  width: 60%;
}

.p-w-75 {
  display: block;
  width: 75%;
}

.p-w-90 {
  display: block;
  width: 90%;
}

.p-w-100 {
  display: block;
  width: 100%;
}
